body {
  margin: 0;
  color: white;
  background: url('./images/stars.jpeg') #000;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
}

@font-face {
  font-family: 'Pixel';
  src: url('fonts/retro.woff') format('woff');
}
